= render partial:'intro'
= render partial:'profile_contact'
= render partial:'profile'
= render partial:'services'
= render partial:'resume'
= render partial:'clients'
= render partial:'portfolio'
= render partial:'contact'

