<div class="wrapper">

    <!-- Preloader -->

    <div id="preloader">
      <div id="status">
        <div class="status-mes"><h4>David R. Hemmat</h4></div>
      </div>
    </div>

    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-fixed-top navbar-color" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">David R. Hemmat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#intro">Home</a></li>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#clients">Clients</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </nav>

    <!-- Navigation end -->

    <!-- Intro section start -->

    <section id="intro" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div class="hello">
              <h1>Hello, I'm David</h1>
              <h3><span>Full Stack Developer.</span></h3>
            </div>

            <a href="#profile">
              <div class="mouse-icon">
                <div class="wheel"></div>
              </div>
            </a>

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Intro section end -->

    <!-- Profile contact callout section -->

    <section id="profile-contact">

      <div class="container">

        <div class="row">

          <div class="col-sm-4">
            <div class="profile-item">
              <i class="fa fa-envelope-o"></i>
              <h5><a href="#">david@davidhemmat.com</a></h5>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="profile-item">
              <i class="fa fa-phone"></i>
              <h5><a href="tel:+18295489782">+1 (829) 548 9782</a></h5>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="profile-item">
              <i class="fa fa-map-marker"></i>
              <h5><a href="">USA / Dominican Republic</a></h5>
            </div>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Profile contact callout section -->

    <!-- Profile section start -->

    <section id="profile" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            <h2>David R. Hemmat</h2>
            <p>Full stack developer</p>
          </div>

          <div class="col-md-3 col-sm-6">
            <%= image_tag("portrait.jpg", class:"avatar")%>
          </div>

          <div class="col-md-3 col-sm-6">

            <div class="profile-widget">
              <h3>Skillset</h3>

              <h5>Ruby on Rails</h5>
              <div class="skill-bar">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
              </div>

              <h5>HTML / CSS3 / SASS</h5>
              <div class="skill-bar">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
              </div>

              <h5>Javascript</h5>
              <div class="skill-bar">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
              </div>

              <h5>Java / C# / Android</h5>
              <div class="skill-bar">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
                <div class="skill-rate-off"></div>
              </div>
            </div>

            <div class="profile-widget">
              <h3>Social Profiles</h3>
              <ul class="widget-social">
                <li><a href="https://github.com/dhemmat"><i class="fa fa-github-alt"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dhemmat"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>

          </div><!-- .col-md-3 -->

          <div class="col-md-6 col-sm-12">
            <h3>Professional Profile</h3>
            <p>I'm a full stack web developer working mainly with <strong>Ruby on Rails</strong>. I started playing with code when I was 13 and have come a long way. In the past few years I have done work for a number of clients including <a href="http://condenast.com">Cond&eacute; Nast</a>, <a href="http://sixredmarbles.com">Six Red Marbles</a>, <a href="http://shopkeep.com">ShopKeep</a> and <a href="http://couplewise.com">Couplewise</a>.</p>
            
            <p>I enjoy challenges and regularly look into learning new technologies. My go-to platform for development is Rails as I have become very experienced in it and I am able to deliver high quality code and functionality very rapidly. I am currently working on improving my Angular.js skills, and I am actively working on a number of personal and professional development projects.</p>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>


    <!-- Services section start -->

    <section id="services" class="callout">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            <h2>Services</h2>
            <p>What I can do for you.</p>
          </div>

          <div class="col-md-12">

            <div class="row">

              <div class="col-sm-4">
                <div class="service">
                  <div class="icon">
                    <i class="fa fa-pencil"></i>
                  </div>
                  <h4>Code from scratch</h4>
                  <div class="text">
                    <p>I can build any type of web application you need from scratch. We will start with having a conversation about what you need to build and take it from there. </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="service">
                  <div class="icon">
                    <i class="fa fa-rocket"></i>
                  </div>
                  <h4>Build your MVP</h4>
                  <div class="text">
                    <p>Starting a new venture? I will help you get your boots on the ground. Let me build your MVP from scratch providing you with a high quality product to start testing your market.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="service">
                  <div class="icon">
                    <i class="fa fa-cog"></i>
                  </div>
                  <h4>Upgrade and maintain</h4>
                  <div class="text">
                    <p>Got an old app that needs a facelift? Broken features? Need new functionality? Need to upgrade your platform or just make sure everything is in order? I will be happy to take care of this for you.</p>
                  </div>
                </div>
              </div>

            </div><!-- .row -->
            <div class="row">

              <div class="col-md-12 text-center">
                <br>
                <a href="#contact" class="btn btn-primary"><i class="fa fa-phone icon-before"></i> Let's talk</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#resume" class="btn btn-warning"><i class="fa fa-chevron-down icon-before"></i> Lean more</a>
                <br>
              </div>

            </div>

          </div><!-- .col-md-12 -->

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Services section end -->

    <!-- Callout section start -->

    

    <!-- Callout section end -->

    <!-- Resume section start -->

    <section id="resume" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            <h2>Resume</h2>
            <p>My education and experience.</p>
          </div>

        </div><!-- .row -->

        <div class="row resume-items">

          <div class="col-md-3">
            <h3>Education</h3>
          </div>

          <div class="col-md-6 col-sm-8 resume-item">
            <h4>Entrepreneurship: Launching an Innovative Business Specialization</h4>
            <p>Four course specialization. Acumulated grade: 98.8%. </p>
            <hr class="hidden-xs">
          </div>

          <div class="col-md-3 col-sm-4 resume-place">
            <h4><i class="fa fa-suitcase"></i> University of Maryland</h4>
            <i class="fa fa-calendar"></i> 2014 - 2015
            <hr class="visible-xs">
          </div>

          <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
            <h4>Telecommunications Engineering</h4>
            <p>Valedictorian and first in class of 971 students (from all majors). 4.0 GPA, graduated Summa Cum Laude. </p>
            <hr class="hidden-xs">
          </div>

          <div class="col-md-3 col-sm-4 resume-place">
            <h4><i class="fa fa-suitcase"></i> Pontificia Universidad Cat&oacute;lica Madre y Maestra</h4>
            <i class="fa fa-calendar"></i> 2008 - 2013
            <hr class="visible-xs">
          </div>

        </div><!-- .row -->

        <div class="row resume-items">

          <div class="col-md-3">
            <h3>Experience</h3>
          </div>

          <div class="col-md-6 col-sm-8 resume-item">
            <h4>Full Stack Developer</h4>
            <div class="resume-sub-job">
              <h5>Couplewise</h5>
              <p>Lead back-end developer building the Couplewise platform. Work building new features and maintaining existing functionality.</p>
              <ul>
                <li>
                  <i>Main technologies:</i> Ruby On Rails, MongoDB, MongoMapper, RSpec, Bootstrap.
                </li>
                <li>
                  <i>Website:</i><a href="http://couplewise.com"> www.couplewise.com</a>
                </li>
                <li>
                  <i>Dates:</i> 08 / 2015 - Present
                </li>
              </ul>
            </div>
            <div class="resume-sub-job">
              <h5>itr8group</h5>
              <p>Migrated AJS Design's web app from Ruby on Rails version 2.3.5 to version 3.2.11. Implemented various security improvements.</p>
              <ul>
                <li>
                  <i>Main technologies:</i> Rails v.3.2.11, Amazon Web Services.
                </li>
                <li>
                  <i>Website:</i><a href="http://www.ajsdesignsnyc.com/"> www.ajsdesignsnyc.com</a>
                </li>
                <li>
                  <i>Dates:</i> 06 / 2015
                </li>
              </ul>
            </div>
            <div class="resume-sub-job">
              <h5>Infinite Cloud / ShopKeep</h5>
              <p>Worked as a full stack developer on a team of 4 to build a new multi-tenant ecommerce platform for ShopKeep, a REST API for the e-commerce platform, a new store front for their own online shop, and a supporting gem and administration console.
              <ul>
                <li>
                  <i>Main technologies:</i> Ruby on Rails v.4, Grape (for REST API), Her gem, Amazon Web Services.
                </li>
                <li>
                  <i>Website:</i><a href="http://shop.shopkeep.com"> shop.shopkeep.com</a>
                </li>
                <li>
                  <i>Dates:</i> 01 / 2014 - 01 / 2015
                </li>
              </ul>
            </div>
            <div class="resume-sub-job">
              <h5>Sonwalkar Consulting / Six Red Marbles</h5>
              <p>Worked with a team of 5 to to create an online game for teaching STEM (Science, Technology, Engineering and Math) for Six Red Marbles. Implemented various parts of the game's front end using Backbone.js and jQuery. Implemented Redis in the back end using a Rails app for data storage.
              <ul>
                <li>
                  <i>Main technologies:</i> Backbone.js, Ruby on Rails v3.2, Redis, jQuery. 
                </li>
                <li>
                  <i>Website:</i><a href="http://sixredmarbles.com"> www.sixredmarbles.com</a>
                </li>
                <li>
                  <i>Dates:</i> 08 / 2013 - 12 / 2013
                </li>
              </ul>
            </div>
            <hr class="hidden-xs">
          </div>

          <div class="col-md-3 col-sm-4 resume-place">
            <h4><i class="fa fa-suitcase"></i> Blue Coding LLC and Freelance</h4>
            <i class="fa fa-calendar"></i> 08 / 2013 - Present
            <hr class="visible-xs">
          </div>

          <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
            <h4>Full stack developer</h4>
            <div class="resume-sub-job">
              <p>Full stack developer working to migrate large ERP system based on Cybase PowerBuilder to JavaEE and JSF. Created multiple features and functionalities for the accounting module of the ERP software.
              <ul>
                <li>
                  <i>Main technologies:</i> JavaEE, JSF, Primefaces, Hibernate, OracleDB, Glassfish server.
                </li>
              </ul>
            </div>
            <hr class="hidden-xs">
          </div>

          <div class="col-md-3 col-sm-4 resume-place">
            <h4><i class="fa fa-suitcase"></i> Newsoft SRL</h4>
            <i class="fa fa-calendar"></i> 05 / 2013 - 01 / 2014
            <hr class="visible-xs">
          </div>

          <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
            <h4>Web developer</h4>
            <div class="resume-sub-job">
              <h5>Cond&eacute; Nast</h5>
              <p>Built a web scraper from scratch that would crawl Cond&eacute; Nast owned blogs and collect article text along with their images and dump them in a predefined folder structure.
              <ul>
                <li>
                  <i>Main technologies:</i> Ruby, Nokogiri. 
                </li>
              </ul>
            </div>
            <div class="resume-sub-job">
              <h5>Confidential</h5>
              <p>Built MVP for hospital management software on Ruby on Rails, with a team of 2. Worked as full stack developer building both front and back end functionality. Built graphs using D3.js. 
              <ul>
                <li>
                  <i>Main technologies:</i> Ruby on Rails, D3.js. 
                </li>
              </ul>
            </div>
            <hr class="hidden-xs">
          </div>

          <div class="col-md-3 col-sm-4 resume-place">
            <h4><i class="fa fa-suitcase"></i> Intellisys Corp.</h4>
            <i class="fa fa-calendar"></i> 01 / 2013 - 05 / 2013
            <hr class="visible-xs">
          </div>


        </div><!-- .row -->

        <!-- <div class="row"> -->

<!--          <div class="col-md-6 col-md-offset-3">
            <a href="#" class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i> Download CV</a>
          </div>
 -->
        <!-- </div> --><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Resume section end -->

    <!-- Callout section start -->

    <section id="clients" class="callout">

      <div class="container">

        <div class="row">

          <div class="col-md-3 headline">
            <h3>Clients</h3>
            <span class="">
              <p>Some people I have done work for.</p>
            </span>
          </div>

          <div class="col-md-9">

            <div id="owl-clients" class="owl-carousel">

              <div class="owl-item">
                <%= image_tag("itr8group-logo.png")%>
              </div>

              <div class="owl-item">
                <%= image_tag("couplewise-logo.png")%>
              </div>

              <div class="owl-item">
                <%= image_tag("logo-moto-250.png")%>
              </div>

              <div class="owl-item">
                <%= image_tag("rockstarlogo-240.png")%>
              </div>

            </div>

          </div><!-- .col-md-9 -->

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Callout section end -->

    <!-- Portfolio section start -->

    <section id="portfolio" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            <h2>Portfolio</h2>
            <p>Some of my work.</p>
          </div>

          <div class="col-md-3 col-sm-6">
            <a href="assets/shopkeep.png" class="pop-up" title="ShopKeep (Ruby on Rails): Multi-tenant ecommerce platform, REST API, online shop, and supporting gem and administration console.">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/shopkeep.png" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>ShopKeep</h3>
                  <p>Rails Ecommerce Platform</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-sm-6">
            <a href="assets/couplewise.png" class="pop-up" title="Couplewise (Ruby on Rails + MongoDB): Ongoing back-end development of new features and maintenance.">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/couplewise.png" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Couplewise</h3>
                  <p>Back-end Development</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-sm-6">
            <a href="assets/ajs.png" class="pop-up" title="AJS Design (Ruby on Rails + Amazon S3): Upgrade Rails from version 2.3 to version 3.2 and implement various S3 related security fixes.">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/ajs.png" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>AJS Design</h3>
                  <p>Rails Version Upgrade</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-sm-6" data--delay=".2s">
            <a href="assets/srm.jpg" class="pop-up" title="Six Red Marbles (Backbone.js + Ruby on Rails): Front end development of online game, implementation of Redis cache and data storage on Rails">
              <div class="portfolio-item">
                <div class="portfolio-item-preview">
                  <img src="assets/srm.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                  <h3>Six Red Marbles</h3>
                  <p>Front-end development</p>
                </div>
              </div>
            </a>
          </div>


         </div> <!-- .row -->

       </div> <!-- .container -->

    </section> 

    <section class="section" id="contact">

      <div class="container">

        <div class="row">

          <div class="col-md-3 hidden-xs">
            <h3>Contact</h3>
          </div>

          <div class="col-md-9 headline nomargin">
            <h3>Let's talk</h3>
            <p>I'm currently available for freelance work. Just shoot me an email or give me a call so we can talk about your project.</p>
            <a href="mailto:david@davidhemmat.com" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
            <hr>
            <ul class="icon-list">
              <li><i class="fa fa-fw fa-phone"></i><a href="tel:+18295489782">+1 (829) 548 9782</a></li>
              <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:david@davidhemmat.com">david@davidhemmat.com</a></li>
            </ul>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </section>

    <!-- Portfolio section end -->

    <!-- Contact section start -->

<!--    <section id="contact" class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12 headline">
            <h2>Contact Us</h2>
            <p>Drop us a line or give us a ring. We love to hear you.</p>
          </div>

          <div class="col-md-6">

            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>

            <ul class="icon-list">
              <li><i class="fa fa-fw fa-map-marker"></i>001 Some Street, Some City, US</li>
              <li><i class="fa fa-fw fa-phone"></i>123 4567 8910</li>
              <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">support@site.com</a></li>
              <li><i class="fa fa-fw fa-globe"></i><a href="">http://www.site.com</a></li>
            </ul>

          </div>

          <div class="col-md-6">

            <form id="contact-form" role="form">

              <div class="form-group">
                <label class="sr-only" for="c_name">Name</label>
                <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
              </div>

              <div class="form-group">
                <label class="sr-only" for="c_email">Email address</label>
                <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
              </div>

              <div class="form-group">
                <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message"></textarea>
              </div>

              <button type="submit" class="btn btn-custom-1">
                <i class="fa fa-bullhorn icon-before"></i> Send it
              </button>

            </form>

            <div class="ajax-response"></div>

          </div>

        </div>

      </div>

    </section> -->

    <!-- Contact section end -->

    <!-- Footer start -->

    <footer id="footer">

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p class="copy">
              © <script>document.write(new Date().getFullYear())</script> David Hemmat, All Rights Reserved.
            </p>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </footer>

    <!-- Footer end -->

  </div><!-- .wrapper -->
